.task{
   position: relative; 
   display: flex;
   width: 80%;
   min-height: 50px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #181717;
   justify-content: center;
   align-items: center;
   padding: 12px 0;
}
.check{
   position: absolute;
   left: 15px;
   top: auto;
   width: 18px;
   height: 18px;
}
.delete{
   position: absolute;
   display: inline-block;
   width: 30px;
   height: 30px;
   right: 15px;
   top: auto;
   cursor: pointer;
}
.delete:hover{
   color:red;
}
.completed{
   text-decoration: line-through;
}
.task p{
   max-width: 90%;
   overflow-wrap: anywhere;
   height: auto;
}
@media (max-width:768px){
   .task p{
      max-width: 60%;
      overflow-wrap: anywhere;
      height: auto;
   }
}