ul{
   position: relative;
   width: auto;
   list-style: none;
   min-height: auto;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   justify-content: space-evenly;
}
section{
   width: 100%;
   padding: 50px 0;
}
@media (min-width:600px) {
 #root{
    position: fixed;
    left: 0;
    right: 0;
 }
}
